.form-registration {
    width: 40%;
    display: inline-block;
    label {
        display: block;
    }
    .btn {
        float: right;
        margin: 0.5em 0;
    }
}

mark {
    display: inline-block;
}