doctype html
html
    head
        title= `${title}`
    body
        header
            nav
                ul
                    li
                        a(href="/") Profile
                    li
                        a(href="gallery") Gallery
                    li
                        a(href="services") Services
        main
            h1 This is the gallery page
        footer &copy; Copyright 2021