doctype html
html
    include head
    body
        header
        include nav                    
        main
            #contentholder
                div#portrait
                    h4 Portrait Photo Gallery
                        ul
                            li
                                img(src="/images/portrait1.jpg")
                                h5 Portrait 1
                            li
                                img(src="/images/portrait2.jpg")
                                h5 Portrait 2
                            li
                                img(src="/images/portrait3.jpg")
                                h5 Portrait 3
                            li
                                img(src="/images/portrait4.jpg")
                                h5 Portrait 4
                    h4 Wedding Photos Gallery
                        ul
                            li
                                img(src="/images/wedding1.jpg")
                                h5 Wedding 1
                            li
                                img(src="/images/wedding2.jpg")
                                h5 Wedding 2
                            li
                                img(src="/images/wedding3.jpg")
                                h5 Wedding 3
                            li
                                img(src="/images/wedding4.jpg")
                                h5 Wedding 4
                    h4 Daily Lives Gallery
                        ul
                            li
                                img(src="/images/daily1.jpg")
                                h5 Daily 1
                            li
                                img(src="/images/daily2.jpg")
                                h5 Daily 2
                            li
                                img(src="/images/daily3.jpg")
                                h5 Daily 3
                            li
                                img(src="/images/daily4.jpg")
                                h5 Daily 4
        footer &copy; Copyright 2021
        include body