doctype html
html
    include head
    body
        header
        include nav                    
        main
            .containter
                div#portrait
                    h3 Portrait Photo Gallery
                        ul
                            li
                                img(src="/images/portrait1.jpg")
                                h5 Portrait 1
                            li
                                img(src="/images/portrait2.jpg")
                                h5 Portrait 2
                            li
                                img(src="/images/portrait3.jpg")
                                h5 Portrait 3
                            li
                                img(src="/images/portrait4.jpg")
                                h5 Portrait 4
        footer &copy; Copyright 2021
    include body