doctype html
html
    include head
    body
        header
        include nav
        main
            div.container
                h4 You are logged out.
                    h5 See you again soon!
        footer &copy; Copyright 2021