doctype html
html
    include head   
    body
        header
        include nav
        main
            .container
                .row 
                    #biopic.col-5
                        img.dzinkpic(src="/images/bio1.jpg" alt="DZink Bio")
                    .bio.col-5.offset-2
                        section
                            h4 Hello friends!
                            p I'm Dat. Love wandering around and taking pictures of random people and stuffs.
                            p Capturing beautiful moments is my daily joy
                            p -Dat Dzink
                        section
                            h4 My experience  
                            p Specialize in sport events (or any large gathering events), models, and portraits     
        footer &copy; Copyright 2021
        include body