doctype html
html
    head
        title= `${title}`
    body
        header
        nav
            ul
                li
                    a(href="/") Profile
                li
                    a(href="gallery") Gallery
                li
                    a(href="services") Services
        main    
            h1 Place holder for services request form
        footer &copy; Copyright 2021