doctype html
html
    include head        
    body
        header
        include nav
        main
            div#contentholder.d-flex
                -data = data || {}
                if errors
                    ul.my-errors
                        for error in errors
                            li= error.msg
                section#formholder
                    h4 Services Request Form
                    form(action="." method="POST" class="form-registration")
                        label(for="name") Name:
                        input(type="text" id="name" name="name"  class="form-control")
                        label(for="email") Email:
                        input(type="email" id="email" name="email" class="form-control")
                        strong Your username for login is your email address
                        label(for="phone") Phone:
                        input(type="tel" id="phone" name= "phone" class="form-control")
                        label(for="service") Service Request:
                        select(class="form-select" id="service" name="service")
                            option(value="Event") Event
                            option(value="Wedding") Wedding
                            option(value="Event") Graduation
                            option(value="Portraits") Portraits
                            option(value="Photobook") Photobook
                        label(for="requestdate" id="requestdate") Request Date: 
                        input(type="date" id="requestdate" name ="requestdate" class="form-control")
                        label(for="additional") Comments:
                        textarea(id="comments" name="comments" class="form-control")
                        label(for="password") Create a password:
                        input(type="password" id="password" name="password" class="form-control")
                        small Password should contain at least 8 characters, one lowercase letter, one uppercase letter, one number, and one special character
                        input(type="submit" value="Submit" class="btn btn-primary btn-lg")
                        mark Already submit a request? 
                            a(href="login") Login
                section#scooter
                    img#bio2(src="/images/bio2.jpg" alt="Me on scooter")
                    p Response time will be as fast as me driving scooter in this little Japanese city
        footer &copy; Copyright 2021