doctype html
html
    include head
    body
        header
        include nav                    
        main
            p Hello 
                span#userwelcome #{email}
        footer &copy; Copyright 2021