doctype html
html
    include head
    body
        header
        include nav                    
        main
            p Hello
                span#userwelcome 
        footer &copy; Copyright 2021
        include userclient.js